<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LessonLink</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>

<body>
  <img id="logo-header" src="/images/logo-no-background.png" alt="LessonLink Logo">

  <main>
    <div class="list-header">
      <h1>Documents</h1>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon add-item" id="createDocBtn" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112" />
      </svg>
    </div>
    <ul class="document-grid list">
      <% documents.forEach( (el, index) => { %>
      <li class='list-item' data-id='<%=el._id%>' data-title="<%= el.title %>" data-description="<%= el.description %>" data-file-url="<%= el.file %>" cloudinary-id="<%= el.cloudinaryId %>">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon document-icon" viewBox="0 0 512 512">
          <path d="M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
          <path d="M256 56v120a32 32 0 0032 32h120" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          <title>Document Icon</title>
        </svg>
        <div class="item-info">
          <h3 class='item-title'>
            <%= el["title"]%>
          </h3>
          <div class="date-assigned">
            <% 
              let date_ob = new Date(el.dateCreated);
              let date = ("0" + date_ob.getDate()).slice(-2);
              let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);
              let year = date_ob.getFullYear();
              let formattedDate = month + "/" + date + "/" + year;
              %>
              <%= formattedDate %>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon item-expand view-document-button" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144" />
          <title>Add Item Icon</title>
        </svg>
      </li>
      <% if(index !== documents.length - 1) { %>
      <div class="separator"></div>
      <% } %>
      <% }) %>
    </ul>
    <div id="createDocModal" class="modal">
      <div class="modal-content">
        <div class="header">
          <h2>Add Document</h2>
          <i class="close fa-regular fa-circle-xmark"></i>
        </div>
        <div class="break-thin"></div>
        <form action="/documents/createDocument" enctype="multipart/form-data" method='POST'>
          <label for="title">Title:</label>
          <input type="text" id="title" name="title">
          <label for="description">Description:</label>
          <input id="description" name="description"></input>
          <label for="file">File:</label>
          <input type="file" id="file" name="file">
          <input type="submit" value="submit">
        </form>
      </div>
    </div>
    <div id="viewDocModal" class="modal">
      <div class="modal-content">
        <div class="header">
          <h2 id="docTitle"></h2>
          <i class="close fa-regular fa-circle-xmark"></i>
        </div>
        <div class="break-thin"></div>
        <div class="document-content">
          <p id="docDescription" class="document-description"></p>
          <img id="docFile" src=""></img>
          <div class="document-controls">
            <a href="" id="open-document" class="btn-small-text" target="_blank">Open</a>
            <button type='button' id='delete-document' class='delete fas fa-trash-alt icon'></button>
          </div>
        </div>
      </div>
    </div>
    <a class="logout" href="/logout">Logout</a>
  </main>

  <footer>
    <nav>
      <a href="/students">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon students-icon" viewBox="0 0 512 512">
          <path d="M336 256c-20.56 0-40.44-9.18-56-25.84-15.13-16.25-24.37-37.92-26-61-1.74-24.62 5.77-47.26 21.14-63.76S312 80 336 80c23.83 0 45.38 9.06 60.7 25.52 15.47 16.62 23 39.22 21.26 63.63-1.67 23.11-10.9 44.77-26 61C376.44 246.82 356.57 256 336 256zm66-88zM467.83 432H204.18a27.71 27.71 0 01-22-10.67 30.22 30.22 0 01-5.26-25.79c8.42-33.81 29.28-61.85 60.32-81.08C264.79 297.4 299.86 288 336 288c36.85 0 71 9 98.71 26.05 31.11 19.13 52 47.33 60.38 81.55a30.27 30.27 0 01-5.32 25.78A27.68 27.68 0 01467.83 432zM147 260c-35.19 0-66.13-32.72-69-72.93-1.42-20.6 5-39.65 18-53.62 12.86-13.83 31-21.45 51-21.45s38 7.66 50.93 21.57c13.1 14.08 19.5 33.09 18 53.52-2.87 40.2-33.8 72.91-68.93 72.91zM212.66 291.45c-17.59-8.6-40.42-12.9-65.65-12.9-29.46 0-58.07 7.68-80.57 21.62-25.51 15.83-42.67 38.88-49.6 66.71a27.39 27.39 0 004.79 23.36A25.32 25.32 0 0041.72 400h111a8 8 0 007.87-6.57c.11-.63.25-1.26.41-1.88 8.48-34.06 28.35-62.84 57.71-83.82a8 8 0 00-.63-13.39c-1.57-.92-3.37-1.89-5.42-2.89z" />
          <title>Students Icon</title>
        </svg>
      </a>
      <a href="/documents">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon documents-icon current-page" viewBox="0 0 512 512">
          <path d="M298.39 248a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V236a12 12 0 0012 12z" />
          <path d="M197 267a43.67 43.67 0 01-13-31v-92h-72a64.19 64.19 0 00-64 64v224a64 64 0 0064 64h144a64 64 0 0064-64V280h-92a43.61 43.61 0 01-31-13zM372 120h70.39a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V108a12 12 0 0012 12z" />
          <path d="M372 152a44.34 44.34 0 01-44-44V16H220a60.07 60.07 0 00-60 60v36h42.12A40.81 40.81 0 01231 124.14l109.16 111a41.11 41.11 0 0111.83 29V400h53.05c32.51 0 58.95-26.92 58.95-60V152z" />
          <title>Documents Icon</title>
        </svg>
      </a>
    </nav>
  </footer>

  <script src="js/main.js"></script>
  <script src="js/documents.js"></script>
</body>

</html>